@import "tailwindcss";
@import "nextra-theme-docs/style.css";

@variant dark (&:where(.dark *));

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
