:root {
	--fg: skyblue;
	--bg: darkred;

	--background-color: #fff;
	--background-color-transparent: rgba(255, 255, 255, 0.6);
	--background-color-transparent-15: rgba(255, 255, 255, 0.15);
	--background-color-transparent-40: rgba(255, 255, 255, 0.4);
	--background-color-transparent-80: rgba(255, 255, 255, 0.8);
	--second-background-color: #fafafa;
	--third-background-color: #f7f7f7;
	--third-background-color-transparent: rgba(241, 241, 241, 0.6);

	--primary-color: #a31f34;
	--first-text-color: #323739;
	--second-text-color: #343a3c;
	--third-text-color: #5c6669;
	--fourth-text-color: #eaeced;
	--default-text-color: #373d3f;
	--invert-text-color: #bebec6;
	--border-color: rgba(0, 0, 0, 0.08);
	--selection-color: #be243c;
	--shadow-color-1: rgba(0, 0, 0, 0.08);
	--shadow-color-2: rgba(0, 0, 0, 0.05);
	--shadow-hover-color: rgba(0, 0, 0, 0.28);

	--home-banner-text-color: #fff;
	--home-banner-icons-container-border-color: rgba(255, 255, 255, 0.35);
	--home-banner-icons-container-background-color: rgba(255, 255, 255, 0.3);
	--cloudea-box-shadow:
		var(--shadow-color-2) 0px 6px 24px 0px,
		var(--shadow-color-1) 0px 0px 0px 1px;
	--cloudea-box-shadow-hover:
		var(--shadow-color-2) 0px 6px 24px 0px,
		var(--shadow-color-1) 0px 0px 0px 1px,
		var(--shadow-color-1) 0px 0px 0px 1px inset;
	--cloudea-box-shadow-flat:
		var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
	--cloudea-box-shadow-flat-hover:
		var(--shadow-color-2) 0px 1px 4px 0px,
		var(--shadow-color-1) 0px 0px 0px 1px,
		var(--shadow-color-1) 0px 0px 0px 1px inset;
}

.dark {
	--fg: purple;
	--bg: yellow;

	--background-color: #202124;
	--background-color-transparent: rgba(32, 33, 36, 0.4);
	--background-color-transparent-15: rgba(32, 33, 36, 0.15);
	--background-color-transparent-40: rgba(32, 33, 36, 0.4);
	--background-color-transparent-80: rgba(32, 33, 36, 0.8);
	--second-background-color: #242529;
	--third-background-color: #292b2f;
	--third-background-color-transparent: rgba(32, 33, 36, 0.6);

	--primary-color: #a31f34;
	--first-text-color: #d2d2d7;
	--second-text-color: #cbcbd1;
	--third-text-color: #9595a2;
	--fourth-text-color: #242429;
	--default-text-color: #bebec6;
	--invert-text-color: #373d3f;
	--border-color: rgba(255, 255, 255, 0.08);
	--selection-color: #be243c;
	--shadow-color-1: rgba(255, 255, 255, 0.08);
	--shadow-color-2: rgba(255, 255, 255, 0.05);
	--shadow-hover-color: rgba(69, 69, 69, 0.28);

	--home-banner-text-color: #d1d1b6;
	--home-banner-icons-container-border-color: rgba(197, 197, 197, 0.35);
	--home-banner-icons-container-background-color: rgba(197, 197, 197, 0.3);
	--cloudea-box-shadow:
		var(--shadow-color-2) 0px 6px 24px 0px,
		var(--shadow-color-1) 0px 0px 0px 1px;
	--cloudea-box-shadow-hover:
		var(--shadow-color-2) 0px 6px 24px 0px,
		var(--shadow-color-1) 0px 0px 0px 1px,
		var(--shadow-color-1) 0px 0px 0px 1px inset;
	--cloudea-box-shadow-flat:
		var(--shadow-color-2) 0px 1px 4px 0px, var(--shadow-color-1) 0px 0px 0px 1px;
	--cloudea-box-shadow-flat-hover:
		var(--shadow-color-2) 0px 1px 4px 0px,
		var(--shadow-color-1) 0px 0px 0px 1px,
		var(--shadow-color-1) 0px 0px 0px 1px inset;
}

* {
	transition-property: color, background, box-shadow, border-color;
	transition-delay: 0s, 0s, 0s, 0s;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	transition-timing-function: ease, ease, ease, ease;
}

a,
a i,
a span {
	color: var(--default-text-color);
}

a:hover,
a:active,
a:hover i,
a:active i,
a:hover span,
a:active span {
	text-decoration: none !important;
	color: var(--primary-color);
}
